<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/club.css" />
    <title>Bookclub lists</title>
</head>
<body>
    <div>
        <% if (clubName.length > 0) { %>
            <% if (username.length > 0) { %>
                <span class="username" data-user="<%=username%>">welcome <%=username%>, you can send messages and reccomend books to your club</span>
            <% } %>
            <% if (pin.length > 0) { %>
                <p class="info">Others can join your club with the pin
                    <span class="sharePin" data-room="<%=pin%>"><%=pin%></span>
                </p>
            <% } %>
            <h1><%=clubName%></h1>
        <% } %>
        <p>Attending: </p>
        <ul class="attendees">
            <% if (users) { users.forEach(function(user) { %>
                    <li class="attendee" id="u<%=user%>"><%=user%></li>
            <% })} %>
        </ul>
    </div>
    <a class="leave" href="/">leave club</a>
    <div>
        <p>Our next meeting will be on </p>
        <input class="date" type="text" value="<%=date%>">
        <button class="attend">attend meeting</button>
    </div>
    <main>
        <div>
            <p>chat and votes</p>
            <div class="chat-container">
                <% if (chat) { chat.forEach(function(message) { %>
                    <% if(message.from == username){ %>
                        <li id="B<%=message._id%>" class="my-message">
                     <% } %>
                     <% if (message.from !== username) { %>
                        <span class="from"><%=message.from%>:</span>
                        <li id="B<%=message._id%>" class="message">
                      <% } %>
                      <% if (message.msg.title) { %>
                        <div class="message-book message-txt">
                            <button class="add">add to reading list</button>
                            <button id="<%=message.msg.bookid%>" class="add" data-bookid="<%=message.msg.bookid%>" data-title="<%=message.msg.title%>" data-subtitle="<%=message.msg.subtitle%>" data-cover="<%=message.msg.cover%>" data-description="<%=message.msg.description%>" data-author="<%=message.msg.author%>" data-price="<%=message.msg.price%>" >add to reading list</button>
                            <div class="message-details">

                                <img class="message-img" src="<%=message.msg.cover%>">
                                <p class="bold"><%=message.msg.title%></p>
                                <p><%=message.msg.subtitle%></p>
                                <p class="small"><%=message.msg.author%></p>
                            </div>
                            <div class="message-description">
                                <p class="desc"><%=message.msg.description%></p>
                                <!-- <p class="small"><%=message.msg.price%></p> -->
                            </div>
                        </div>
                      <% } else { %>
                            <p class="message-txt"><%=message.msg%></p>
                      <% } %>
                        <span class="time"><%=message.time%></span>
                    </li>
                <% })} %>
            </div>
            <div class="input-container">
                <input class="input" type="text" placeholder="send a message" />
                <button class="send">send</button>
            </div>
        </div>
                
        <div class="readingWrapper">
            <p>reading list</p>
            <div class="readingList">
                <% if (bookList) { bookList.forEach(function(book) { %>
                    <li class="reccomended-book">
                        <p class="tiny bold recco"><%=book.reccomendedBy%> reccomend:</p>
                        <div class="book-img-container">
                            <img class="reading-img" src="<%=book.cover%>" alt="<%=book.title%> <%=book.subtitle%>">
                        
                            <button class="like-button <%= book.votes.includes(username) ? 'liked' : 'no' %>"
                            id="like-<%=book.bookid%>" 
                            data-bookid="<%=book.bookid%>" class="add" 
                            data-title="<%=book.title%>"
                            data-cover="<%=book.cover%>"
                            data-likes="<%=book.votes.length%>"
                            data-author="<%=book.author%>">
                            <span><%=book.votes.length%> likes</span>
                        </button>
                        </div>
                        <p><%=book.title%></p>
                        <p class="bold small">by <%=book.author%></p>
                    </li>
                <% })} %>
            </div>
        </div>
    </main>
    <div class="search-container">
        <input class="searchField" type="text" placeholder="find a book" />
        <button class="searchButton">search</button>
    </div>
    <div class="searchContainer">

    </div>
    <script src="/scripts/api.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/client-socket.js"></script>
</body>
</html>